{% extends 'base.html.twig' %}

{% block title %}Tutoriel index{% endblock %}

{% block body %}
    <h1 class="text-center">Tutoriel index</h1>

    <div class="row justify-content-center">
        {% for tutoriel in tutoriels %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body text-center"> <!-- Ajout de la classe text-center ici -->
                        <h5 class="card-title">
                            {{ tutoriel.titre }}
                            {% for categorie in tutoriel.categories %}
                                <a href="{{ path('app_tutoriel_index', {'category': categorie.id}) }}" class="badge bg-info text-dark">{{ categorie.nom }}</a>
                            {% endfor %}
                        </h5>
                        <p class="card-text">{{ tutoriel.description }}</p>
                        <a href="{{ path('app_tutoriel_show', {'id': tutoriel.id}) }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('app_tutoriel_edit', {'id': tutoriel.id}) }}" class="btn btn-secondary">Edit</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col text-center">
                <p>Pas de tutoriel</p>
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('app_tutoriel_new') }}" class="btn btn-success">Créer un nouveau</a>
{% endblock %}
