{% extends 'base.html.twig' %}

{% block title %}Tutoriel{% endblock %}

{% block body %}
    <h1>Tutoriel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tutoriel.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ tutoriel.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tutoriel.description }}</td>
            </tr>
            <tr>
                <th>Fichier PDF</th>
                <td>
                    {% if tutoriel.fichierPDF %}
                        <iframe src="{{tutoriel.fichierPDF}}" width="100%" height="600px"></iframe>
                    {% else %}
                        No PDF available
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Fichier vidéo</th>
                <td>
                    {% if tutoriel.fichierVideo %}
                        <video width="320" height="240" controls>
                            <source src="{{ asset(tutoriel.fichierVideo) }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% else %}
                        No video available
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tutoriel_index') }}">Back to list</a>
    <a href="{{ path('app_tutoriel_finish', {'id': tutoriel.id}) }}">Finish</a>
{% endblock %}
