{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Ajoutez une classe pour les images */
        .card-img-top {
            max-height: 200px; /* Définissez la hauteur maximale que vous souhaitez pour les images */
            width: 100%; /* Pour conserver l'aspect ratio */
            object-fit: cover; /* Pour conserver l'aspect ratio et couvrir toute la zone de l'image */
        }

        /* Ajoutez une classe pour la card pour assurer une hauteur uniforme */
        .card {
            height: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <h1 class="text-center">Historique</h1>

    <div class="row justify-content-center">
        {% if historiques is not empty %}
            {% for historique in historiques %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <!-- Affichez l'image du tutoriel s'il existe -->
                        {% if historique.idTutoriel.image is not null %}
                            <img src="{{ asset('/uploads/images/' ~ historique.idTutoriel.image) }}" class="card-img-top" alt="Image du tutoriel">
                        {% else %}
                            <img src="{{ asset('/uploads/images/placeholder.png') }}" class="card-img-top" alt="Image par défaut">
                        {% endif %}
                        
                        <div class="card-body">
                            <h5 class="card-title">{{ historique.idTutoriel.titre }}</h5>
                            <p class="card-text">Fini le : {{ historique.dateFinish|date('d/m/Y H:i:s', null, 'fr') }}</p>
                            <!-- Ajoutez le tag "Terminé" avec Bootstrap -->
                            <span class="badge badge-success">Terminé</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col text-center">
                <p>Pas d'historique disponible.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
